@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-main: #bebbbb;
  --color-contrast: #ee6352;

  --spacing-smaller: clamp(5px, 1.5vw, 20px);
  --spacing-small: clamp(10px, 3vw, 50px);
  --spacing-main: clamp(20px, 5vw, 150px);
  --spacing-large: clamp(40px, 10vw, 250px);
}
html {
  all: unset;
}

body {
  all: unset;
  background-color: var(--color-background);
  color: var(--color-main);
  height: 100vh;
  overflow: hidden;
  position: relative;

  @apply flex  flex-col items-center justify-center;
}

.iframe {
  @apply size-full;
}

header {
  position: absolute;
  overflow: hidden;
  top: 0;
}
footer {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

h1 {
  @apply text-4xl p-small;
  @apply font-extrabold font-mono italic;
}

h4 {
  @apply text-xs p-1;
  @apply font-mono italic;
}

section {
  @apply border-2 border-main bg-background;
  @apply overflow-y-hidden;
}

.motion {
  @apply transition-transform duration-1000 ease-in-out;
}
